#top-image {
    width: auto;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    padding: px;
}

.dog {
    width: auto;
    height: 100px;
    border: 5px solid lightblue;
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;

}

#logo {
    color: #f9faf8;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    gap: 20px;
}

.text-links {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background: #1f2937;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin: 25px;

}

#text-image {
    display: flex;
    background: #1f2937;
    gap: 80px;
    align-items: center;
    padding: 0;
    padding-left: 15px;
    padding-right: 150px;

}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    ;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 15;
    max-width: 550px;
}

.sign {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    color: initial;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    font-size: 12px;
    color: #585858;

}

.text {
    max-width: 160px;
}

.secondary-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.quote-container {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 36px;
    font-style: italic;
}

#quote {
    margin-top: 75px;
    padding: 0px;
}

#source {
    text-align: right;
    margin: 15px;
    font-size: 24px;
}

.container {
    margin-bottom: 20px;
}

.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882f6;
    margin: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 150px;
    border-radius: 15px;
}

.action{
    margin: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    
    border-radius: 15px;
}

.action-title{
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
    color:#f9faf8;
    font-weight: 700;
}

.action-text{
    font-size: 14px;
    margin-top: 3px;
    color:#f9faf8;
}

.action-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    font-weight: 800;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937;
}
.footer-text{
    color: #e5e7eb ;
    margin: 15px;
}